@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal ;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10em;
    background-color: #2F67A3;
}
form{
    background-color: #ffffff;
    width: 40%;
    height: 25em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form div{
    padding: 1em 0 1em 0;
}
label{
    display: block;
    margin-bottom: 1em;
    font-weight: 600;
}
input{
    width: 20em;
    border-radius: 25px;
    border: 1px solid black ;
    height: 3em;
    padding-left: 1em;
}
img{
    background-color: #F2EEEB;
    width: 25em;
    margin-top:5px ;
}
button{
    background-color: #2F67A3;
    width: 11em;
    border: 1px solid;
    border-radius: 15px;
    outline: none;
    height: 2.5em;
}
#error{
    color: red;
    font-size: .8em;
}
@media only screen and (max-width: 768px) {
    body {
        padding: 1em;
    }

    form {
        width: 100%;
        background-image: url("../img/untitled-1_241-removebg-preview.png");
        background-repeat:no-repeat ;
        background-size: cover;
    }

    img {
        display: none;
    }
}