*{
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
hr{
    width: 85%;
    border: .2em solid rgb(11, 19, 126) !important;
}
.card-img-top{
   min-width: 200px;
}
.subTitre{
    margin: 50px 0px 50px 0px;
}
.cardHorizontal{
    width: 100%;
    height: 200px;
}
.imageHorizontal{
    max-width: 50%;
}
.imageVeritical{
    height: 150px;
}
.allCardV{
    padding: 0;
    margin: 0;
    height: fit-content;
}
.bodyCard{
    padding-block: 20px;
}
/* the style after this line are added by youssef if ther was a problem ask him */
main{
    margin-top: 6em;
}
.fa-table-cells{
    font-size: 3em;
    margin-top: .4em;
}
.space{
    margin-top: 7em;
}

footer{
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    margin-top: auto;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dbdbdb;
}
.fa-solid{
    cursor: pointer;
}

@media (max-width:600px) {
    
   footer h3 {
    font-size: 14px;
   }
   
}